body {
 background-color: white;
}

img {
 width: 99%;
 justify-content: center;
}

.description {
 white-space: pre-line;
}

html {
 aspect-ratio: 16 / 9;
 width: 1920px;
 height: 1080px;
}

button {
 text-decoration: none;
}

h1 {
 text-align: center;
 padding: 50px;
 font-size: 100px
}
h2 {
 font-size: 80px
}
h3{
 font-size: 50px
}
p{
 font-size: 30px
}



/* 0 - 1486px screen is black, after its white */
/* @media only screen and (max-width: 1080px) { 
 body {
  background-color: orchid;
 }
 } */

